.principal {
    background-image: url("../assets/images/background.jpg");
    height:39em; 
    background-size:cover;
    width:auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background-position:50% 50%; */
}